/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* page */

/* 目次 */
/* __10: 共通設定 */
/* __20: p-themed-areas-section */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;
@use "./init"as i;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.p-themed-areas {
    @include i.init();
}

/* __20: p-themed-areas-section */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.p-themed-areas-section {

    .themed-areas-block {
        margin-top: 4.5rem;
    }

    // .img
    .img {
        margin-top: 3rem;
    }

    // .outline
    .outline {
        margin-top: 2.5rem;

        dl {
            display              : grid;
            grid-template-columns: auto 1fr auto 1fr;
            border-top           : 1px solid var(--theme_color_border);
            border-left          : 1px solid var(--theme_color_border);

            dt,
            dd {
                display      : flex;
                min-height   : 5.5rem;
                border-bottom: 1px solid var(--theme_color_border);
                border-right : 1px solid var(--theme_color_border);
                font-size    : 1.5rem;
                line-height  : calc(23/15);
                padding      : 1em;
            }

            dt {
                width           : 12.6rem;
                align-items     : center;
                background-color: var(--theme_color_bg_sub);
            }

            dd {
                align-items: baseline;
            }
        }
    }

    // .lead
    .lead {
        p {
            --lh      : 30;
            text-align: center;
        }
    }

    // .area-block
    .area-block {
        margin-top      : 4rem;
        padding         : 5rem 4rem 4rem;
        background-color: var(--theme_color_bg_sub);
        border-radius   : 0.6rem;

        @include i.order();
        
        @include i.caption();

        &+.area-block {
            margin-top: 2.8rem;
        }

        .m-slider {
            &-box {
                margin-top: 3.2rem;
            }
        }
    }
}

// sp
@include g.media(md) {
    .p-themed-areas-section {
        .themed-areas-block {
            margin-top: 3.2rem;
        }

        .img {
            margin-top: 2rem;
        }

        .lead {
            p {
                --lh      : 26;
                text-align: left;
            }
        }

        .outline {
            margin-top: 1.6rem;

            dl {
                display              : grid;
                grid-template-columns: auto 1fr;
                border-top           : 1px solid var(--theme_color_border);
                border-left          : 1px solid var(--theme_color_border);

                dt,
                dd {
                    min-height   : 5rem;
                    border-bottom: 1px solid var(--theme_color_border);
                    border-right : 1px solid var(--theme_color_border);
                    font-size    : 1.4rem;
                    line-height  : calc(22/14);
                }

                dt {
                    width: 12rem;
                }

                dd {
                    align-items: center;
                }
            }
        }

        .area-block {
            margin-top   : 3.2rem;
            padding      : 3.6rem 2rem 2.6rem;
            border-radius: 0.5rem;

            &+.area-block {
                margin-top: 1.8rem;
            }

            .m-slider {
                &-box {
                    margin-top: 2.4rem;
                }
            }
        }
    }
}