/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* archive */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.arc-course {
  position: relative;
  @include g.container();

  // .arc-course-post
  .arc-course-post {
    margin-top: 7rem;

    // &__head
    &__head {
      .eyecatch {
        img {
          display: block;
          width  : 100%;
          height : 100%;
        }
      }

      .title {
        margin-top : 6rem;
        display    : flex;
        align-items: center;
        column-gap : 2rem;

        h2 {
          font-size  : 2.1rem;
          line-height: calc(34 / 21);
        }

        .length {
          display         : flex;
          align-items     : center;
          justify-content : center;
          width           : fit-content;
          height          : fit-content;
          padding         : 0.7rem 0.8rem;
          font-size       : 1.4rem;
          line-height     : calc(10 / 14);
          background-color: var(--theme_color_bg_sub);
          border-radius   : 0.4rem;
        }
      }
    }

    // &__content
    &__content {
      .course-calendar {
        margin-top: 3rem;

        .m-calendar {
          width        : 100%;
          border       : 1px solid var(--theme_color_border);
          border-radius: 0.7rem;
          padding      : 4rem;

          .parts__year-selector {
            width: calc(100% - 9.6em);
          }

          .parts__month-selector {
            width       : 79.5rem;
            margin-right: 4.6rem;
          }

          .parts__navigation {

            .nav-button {
              width : 3rem;
              height: 3rem;

              .i-arw-r {
                width : 1.2rem;
                height: 1.2rem;
              }
            }
          }

          .parts__calendar {
            margin-top: 2.3rem;

            tbody {
              button {
                height: 8.8rem;

                .day {}

                .avail {
                  margin: 1rem auto;
                }

                .stay {
                  width    : 2.6rem;
                  height   : 1.7rem;
                  font-size: 1.2rem;
                }

                .price {
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// sp
@include g.media(md) {
  .arc-course {

    // .arc-course-post
    .arc-course-post {
      margin-top: 4.8rem;

      // &__head
      &__head {
        .title {
          margin-top: 5rem;
          display   : block;

          h2 {
            font-size  : 1.7rem;
            line-height: calc(28 / 17);
          }

          .length {
            font-size : 1.3rem;
            margin-top: 1.4rem;
          }
        }
      }

      // &__content
      &__content {
        .course-calendar {
          margin-top: 2.6rem;

          .m-calendar {
            border       : none;
            border-radius: 0;
            padding      : 0;

            // 年のセレクトボックス
            .parts__year-selector {
              width: calc(100% - 7rem);

              .year-select {
                width: 7.7rem;
              }
            }

            // 月のタブセレクトボックス
            .parts__month-selector {
              width       : 18.7rem;
              margin-right: 3.5rem;
            }

            // 前後の月を移動するボタン
            .parts__navigation {
              height        : 2.6rem;
              padding-inline: 0rem;

              .nav-button {
                width : 1.9rem;
                height: 1.9rem;

                .i-arw-r {
                  width : 0.8rem;
                  height: 0.8rem;
                }
              }
            }

            .parts__calendar {
              margin-top: 1.8rem;

              tbody {
                button {
                  height: 7.4rem;

                  .avail {
                    margin: 0.5rem auto;
                  }

                  .stay {
                    width    : 1.9rem;
                    height   : 1.3rem;
                    font-size: 0.9rem;
                  }

                  .price {
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}