/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* title */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.l-title {

    // オーナメント付きタイトル
    &.is-l-onm {
        .l-title__accent {
            display              : grid;
            grid-template-columns: 1fr auto 1fr;
            column-gap           : 1.3rem;

            .bar {
                height    : 3.3rem;
                margin-top: 1.5rem;
                border-top: 1px solid var(--color_bdr);

                &.is-left {
                    border-left: 1px solid var(--color_bdr);
                }

                &.is-right {
                    border-right: 1px solid var(--color_bdr);
                }
            }

            .onm {
                display: block;
                width  : 2.3rem;
                height : 1.8rem;
            }
        }

        .l-title__group {
            text-align: center;
            margin-top: 4rem;

            p {
                font-size  : 5rem;
                line-height: calc(33/50);
                color      : var(--theme_color_main);
            }

            h1 {
                font-size  : 1.8rem;
                line-height: calc(13/18);
                color      : var(--theme_color_sub);
                margin-top : 2.1rem;
            }
        }
    }

    // スライダー付きタイトル
    &.is-l-slider {
        position: relative;

        .l-title__group {
            position: absolute;
            left    : 5rem;
            bottom  : 5rem;
            z-index : 3;
            color   : var(--color_white);

            p {
                font-size  : 6rem;
                line-height: calc(40/60);

                span {
                    font-size   : 1.3666666667em;
                    margin-right: 1rem;
                }
            }

            h1 {
                font-size  : 1.7rem;
                line-height: calc(12/17);
                margin-top : 2.6rem;
            }
        }

        .l-title__copy {
            position: absolute;
            right   : 1rem;
            bottom  : 1.2rem;
            z-index : 3;

            p {
                font-size  : 1.3rem;
                line-height: 1;
                color      : var(--color_white);

                a {
                    color: currentColor;
                }
            }
        }
    }

    // コース詳細タイトル
    &.is-l-course {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        column-gap     : 2rem;
        padding-block  : 4rem;
        border-top     : 1px solid var(--color_bdr);
        border-bottom  : 1px solid var(--color_bdr);

        h1 {
            font-size  : 2.4rem;
            line-height: calc(34/24);
        }

        .l-title__image {
            width : 18rem;
            height: 12rem;

            img {
                display   : block;
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }
    }
}

// sp
@include g.media(md) {
    .l-title {

        // オーナメント付きタイトル
        &.is-l-onm {
            margin-top: 2.5rem;

            .l-title__accent {
                column-gap: 0.6rem;

                .bar {
                    height    : 1.5rem;
                    margin-top: 1rem;
                }
            }

            .l-title__group {
                margin-top: 2.2rem;

                p {
                    font-size  : 3.4rem;
                    line-height: calc(22/34);
                }

                h1 {
                    font-size  : 1.4rem;
                    line-height: calc(10/14);
                    margin-top : 1.6rem;
                }
            }
        }

        // スライダー付きタイトル
        &.is-l-slider {
            .l-title__group {
                width     : 100%;
                text-align: center;
                left      : 0;
                bottom    : calc(100svh/(663/298));

                p {
                    font-size  : 4.5rem;
                    line-height: calc(30/45);

                    span {
                        font-size   : 1.22222222em;
                        margin-right: 0.6rem;
                    }
                }

                h1 {
                    font-size  : 1.6rem;
                    line-height: calc(12/16);
                    margin-top : 1.8rem;
                }
            }

            .l-title__copy {
                right : inherit;
                left  : 1rem;
                bottom: calc(100svh/(663/60));

                p {
                    font-size: 1.2rem;
                }
            }
        }

        // コース詳細タイトル
        &.is-l-course {
            display       : block;
            padding-top   : 4rem;
            padding-bottom: 0;
            border-bottom : none;

            h1 {
                font-size  : 1.7rem;
                line-height: calc(28/17);
            }

            .l-title__image {
                width     : 100%;
                height    : 22.6rem;
                margin-top: 2.4rem;
            }
        }
    }
}