/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* breadcrumb */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.m-breadcrumb {
    position     : absolute;
    top          : 2.3rem;
    left         : 0;
    right        : 0;
    margin-inline: auto;
    width        : 100%;

    ol {
        display       : flex;
        align-items   : center;
        flex-direction: row-reverse;
        flex-wrap     : wrap;
        margin        : -1rem -1.8rem;

        li {
            font-size  : 1.2rem;
            display    : flex;
            align-items: center;

            &:not(:last-child) {
                &::before {
                    content         : "";
                    width           : 1px;
                    height          : 1.2rem;
                    background-color: var(--color_bdr);
                }
            }

            a {
                display  : block;
                font-size: 1em;
                color    : rgba(39, 40, 51, 0.5);
                padding  : 1rem 1.8rem;
            }

            .label {
                font-size: 1em;
            }

            >.label {
                margin-inline      : 1.8rem;
                background-image   : linear-gradient(currentcolor, currentcolor);
                background-repeat  : no-repeat;
                background-size    : 100% 0.1rem;
                background-position: bottom left;
            }
        }
    }
}

// sp
@include g.media(md) {
    .m-breadcrumb {
        position: relative;
        top     : 0;

        ol {
            margin: -0.5rem -1.2rem;

            li {
                font-size: 1.1rem;

                a {
                    padding: 0.5rem 1.2rem;
                }

                >.label {
                    margin-inline: 1.2rem;
                }
            }
        }
    }
}