body {
    margin : 0;
    padding: 0;
    border : none;
}

/* img */
img,
/* box */
div,
p,
blockquote,
/* heading */
h1,
h2,
h3,
h4,
h5,
h6,
/* list */
ul,
ol,
li,
dl,
dt,
dd,
/* form */
form,
fieldset,
textarea,
/* address */
address,
/* html5 */
main,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    margin         : 0;
    padding        : 0;
    border         : 0;
    font-size      : 100%;
    text-decoration: none;
    list-style-type: none;
}

/* html5 */
main,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/* heading */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

/* table */
table {
    border         : none;
    border-collapse: collapse;
    border-spacing : 0;
}

th,
td {
    text-align    : left;
    vertical-align: top;
}

caption {
    text-align: left;
}

/* a */
a,
a:focus,
a:hover,
a:active {
    outline: 0;
}

/* form */
input,
input:focus,
input:hover,
input:active,
textarea,
textarea:focus,
textarea:hover,
textarea:active {
    outline: 0;
}

/* img */
img {
    max-width     : 100%;
    height        : auto;
    pointer-events: none;
    vertical-align: top;
}

/* button */
button {
    all         : unset;
    box-sizing  : border-box;
    cursor      : pointer;
    touch-action: manipulation;
}