// font
$ff-noto-sans-jp : var(--noto-sans-jp);
$ff-philosopher  : var(--philosopher);

// base
$font          : $ff-noto-sans-jp;
$font-en       : $ff-philosopher;
$font_weight   : 500;
$line_height   : 1.66666;
$letter_spacing: 0;
$font_size_base: 1rem;

// color
$color_black : #272833;
$color_white : white;

$color_bg_gray  : #F4F4F4;
$color_bg_beige : #F7F1E5;

$color_bdr : #D5D7E6;

$color_blue : #002D74;
$color_gold : #FFD900;

// theme color
$theme_color_text   : $color_black;
$theme_color_bg     : $color_bg_gray;
$theme_color_bg_sub : $color_bg_beige;
$theme_color_border : $color_bdr;
$theme_color_main   : $color_blue;
$theme_color_sub    : $color_gold;

// easing
$customEasingIn : ease-in;
$customEasingOut: ease-out;

// font size