/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* common */

/* 目次 */
/* __10: gallery-slider */
/* __20: bg */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: gallery-slider */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.gallery-slider {
    overflow: hidden;
    display : flex;

    &.isPlay {
        .gallery-slider-list {
            animation-play-state: running;
        }
    }

    &-list {
        display             : flex;
        flex-shrink         : 0;
        will-change         : translate;
        translate           : 0 0;
        animation           : gallerySlider 20s linear infinite;
        animation-play-state: paused;
    }

    &-item {
        flex-shrink: 0;

        img {
            display   : block;
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    &[data-slide-to="left"] {
        .gallery-slider-list {}
    }

    &[data-slide-to="right"] {
        .gallery-slider-list {}
    }

    @keyframes gallerySlider {
        to {
            translate: -100% 0;
        }
    }
}

/* __20: bg */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.bg {
    position: fixed;
    top     : 0;
    width   : 100%;
    height  : 100lvh;
    z-index : -1;

    .color,
    .video {
        width : 100%;
        height: 100%;
        top   : 0;
        left  : 0;

        video {
            display   : block;
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    // HERO
    .is-video-hero {
        z-index: 1;

        &::before {
            content         : "";
            position        : absolute;
            inset           : 0;
            margin          : auto;
            background-color: rgba($color: #000000, $alpha: 0.15);
        }
    }

    // 水
    .is-video-water {
        position: absolute;
        z-index : 2;

        &::before {
            content         : "";
            position        : absolute;
            inset           : 0;
            margin          : auto;
            background-color: rgba($color: #0099B4, $alpha: 0.5);
        }
    }

    // 紺
    .is-color-blue {
        position        : absolute;
        z-index         : 3;
        background-color: rgba($color: #000846, $alpha: 0.7);
    }

    // 白
    .is-color-white {
        position        : absolute;
        z-index         : 4;
        background-color: var(--color_white);
    }

    // マスク
    .is-set-mask {
        mask-repeat  : no-repeat;
        mask-image   : url('/ships/adventure/common/mask.webp');
        mask-size    : 300% 600%;
        mask-position: -33% 20%;
        transition   : mask-position 1.5s var(--customEasingOut);

        // mask-image   : url('/ships/adventure/common/test-mask.png');
        // mask-size    : 500% 600%;
        // mask-position: -20% 50%;

        &.isHide {
            mask-position: 66% 0%;
            transition   : mask-position 1.5s var(--customEasingOut);

            // mask-position: 0% 80%;
        }
    }
}

// sp
@include g.media(md) {
    .bg {

        .hero {
            position: relative;
            top     : -3.9rem;
            height  : 70.3rem;
        }

        .water {}
    }
}