/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* accommodations */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin" as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.t-accommodations {
  background-color: var(--color_white);

  .container {
    width: calc(100% - 100px);
    max-width: 106rem;
    margin-inline: auto;
    padding-top: 17rem;
  }

  .accent {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 1.3rem;

    .bar {
      height: 3.3rem;
      margin-top: 1.5rem;
      border-top: 1px solid var(--color_bdr);

      &.is-left {
        border-left: 1px solid var(--color_bdr);
      }

      &.is-right {
        border-right: 1px solid var(--color_bdr);
      }
    }

    .onm {
      display: block;
      width: 2.3rem;
      height: 1.8rem;
    }
  }

  // &__head
  &__head {
    margin-top: 6.6rem;
    text-align: center;

    p {
      font-size: 4.3rem;
      letter-spacing: 0.03em;
      line-height: calc(28 / 43);
      color: var(--theme_color_main);
    }

    h2 {
      font-size: 1.6rem;
      letter-spacing: 0.03em;
      line-height: calc(12 / 16);
      color: var(--theme_color_sub);
      margin-top: 2rem;
    }
  }

  // &__text
  &__text {
    margin-top: 6rem;
    text-align: center;

    h3 {
      font-size: 2rem;
      letter-spacing: 0.03em;
      line-height: calc(34 / 20);
      @include g.leadingTrim(calc(34 / 20));
    }

    p {
      font-size: 1.5rem;
      letter-spacing: 0.03em;
      line-height: calc(29 / 15);
      @include g.leadingTrim(calc(29 / 15));
      margin-top: 4rem;
    }
  }

  // &__detail
  &__detail {
    margin-top: 8rem;

    .detail {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 46.5rem;
      column-gap: 5rem;

      // .room-image
      .room-image {
        width: 55rem;
        display: grid;
        overflow: hidden;

        &-item {
          grid-column: 1;
          grid-row: 1;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      // .room-detail
      .room-detail {
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        &-item {
          border-top: 1px solid var(--theme_color_border);
          position: relative;
          z-index: 1;

          &:last-child {
            border-bottom: 1px solid var(--theme_color_border);
          }
        }

        &-box {
          padding-block: 3.2rem;
        }

        .room-name {
          img {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .name-box {
            width: 100%;
            display: flex;
            align-items: center;

            .name {
              .ja {
                display: block;
                font-size: 1.8rem;
                color: var(--theme_color_main);
                letter-spacing: 0.03em;
                line-height: calc(13 / 18);
              }

              .en {
                display: block;
                font-size: 1.4rem;
                color: #9396a7;
                line-height: calc(9 / 14);
                margin-top: 1.3rem;
              }
            }

            .icon {
              flex-shrink: 0;
              margin-left: auto;
            }
          }
        }

        .room-desp {
          .desp {
            font-size: 1.4rem;
            letter-spacing: 0.03em;
            line-height: calc(24 / 14);
            @include g.leadingTrim(calc(24 / 14));
            margin-top: 2.5rem;
          }
        }

        .room-link {
          position: absolute;
          inset: 0;
          margin: auto;
        }
      }
    }

    .large-button {
      margin-top: 6rem;
    }

    .button {
      display: none;
    }
  }
}

// sp
@include g.media(md) {
  .t-accommodations {
    .container {
      width: calc(100% - 50px);
      max-width: inherit;
      padding-top: 7rem;
    }

    .accent {
      column-gap: 0;
      margin-left: -25px;
      width: calc(100% + 50px);

      .bar {
        height: 1px;
        margin-top: 1.3rem;
        border-top: 1px solid var(--color_bdr);
      }

      .onm {
        display: block;
        width: 3.6rem;
        height: 1.7rem;
      }
    }

    // &__head
    &__head {
      margin-top: 6rem;

      p {
        font-size: 3.4rem;
        line-height: calc(22 / 34);
      }

      h2 {
        font-size: 1.4rem;
        line-height: calc(10 / 14);
        margin-top: 1.6rem;
      }
    }

    // &__text
    &__text {
      margin-top: 4rem;

      h3 {
        font-size: 1.7rem;
        line-height: calc(28 / 17);
        @include g.leadingTrim(calc(28 / 17));
      }

      p {
        font-size: 1.4rem;
        line-height: calc(26 / 14);
        @include g.leadingTrim(calc(26 / 14));
        margin-top: 3rem;
      }
    }

    // &__detail
    &__detail {
      margin-top: 5rem;

      .detail {
        display: block;

        // .room-image
        .room-image {
          display: none;
        }

        // .room-detail
        .room-detail {
          display: block;

          &-item {
            * {
              pointer-events: none;
            }
          }

          &-box {
            padding-block: 2.5rem;
          }

          .room-name {
            img {
              display: block;
              height: 22.6rem;
              margin-bottom: 2.5rem;
            }

            .name-box {
              .name {
                .ja {
                  font-size: 1.6rem;
                  line-height: calc(12 / 16);
                }

                .en {
                  line-height: calc(10 / 14);
                  margin-top: 1.1rem;
                }
              }

              .icon {
                flex-shrink: 0;
                margin-left: auto;
                width: 1.9rem;
                height: 1.9rem;
                border-radius: 50%;
                border: 1px solid var(--theme_color_main);
                position: relative;

                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  inset: 0;
                  margin: auto;
                  width: 0.8rem;
                  height: 1px;
                }

                .arrow {
                  display: none;
                }
              }
            }
          }

          .room-desp {
            .desp {
              font-size: 1.4rem;
              line-height: calc(22 / 14);
              @include g.leadingTrim(calc(22 / 14));
              margin-top: 2rem;
            }

            .button {
              display: block;
              margin-top: 2rem;

              &-el {
                pointer-events: all;
              }
            }
          }

          .room-link {
            display: none;
          }
        }
      }

      .large-button {
        display: none;
      }

      > .button {
        display: block;
        margin-top: 4rem;

        .button-el {
          min-width: 24.8rem;
        }
      }
    }
  }
}

// hover selecter
.room-image-item {
  &.isSelect {
    img {
      clip-path: inset(0);
      translate: 0 0;
      transition:
        clip-path 0.5s var(--customEasingOut),
        translate 0.45s var(--customEasingOut);
    }
  }

  &.isNext {
    img {
      clip-path: inset(67% 0 0);
      translate: 0 33%;
      transition:
        clip-path 0.5s var(--customEasingOut),
        translate 0.45s var(--customEasingOut);
    }
  }

  &.isPrev {
    img {
      clip-path: inset(0% 0 67%);
      translate: 0 -33%;
      transition:
        clip-path 0.5s var(--customEasingOut),
        translate 0.45s var(--customEasingOut);
    }
  }
}

// hover selecter
.room-detail-item {
  // .acdn
  .acdn {
    &-content {
      display: grid;
      transition: grid-template-rows 0.2s ease-out;
    }

    &-inner {
      overflow: hidden;
    }
  }

  .icon {
    .arrow {
      border-radius: 100vmax;
      clip-path: inset(calc(50% - 4px) round 100vmax);
      transition: clip-path 0.3s var(--customEasingOut);

      .i-arw-r {
        translate: -100% 0;
        transition: translate 0.3s var(--customEasingOut);
      }
    }

    @include g.media(md) {
      background-color: var(--color_white);
      transition: background-color 0.3s var(--customEasingOut);

      &::before {
        background-color: var(--theme_color_main);
        transition: background-color 0.3s var(--customEasingOut);
      }

      &::after {
        background-color: var(--theme_color_main);
        rotate: 90deg;
        transition:
          background-color 0.3s var(--customEasingOut),
          rotate 0.5s var(--customEasingOut);
      }
    }
  }

  .room-name {
    @include g.media(md) {
      .acdn-content {
        grid-template-rows: 0fr auto;
      }
    }
  }

  .room-desp {
    .acdn-content {
      grid-template-rows: 0fr;
    }
  }

  .room-link {
    pointer-events: none;
  }

  &.isSelect {
    .icon {
      .arrow {
        border-radius: 100vmax;
        clip-path: inset(0 round 100vmax);
        transition: clip-path 0.3s var(--customEasingOut);

        .i-arw-r {
          translate: 0 0;
          transition: translate 0.3s var(--customEasingOut);
        }
      }

      @include g.media(md) {
        background-color: var(--theme_color_main);

        &::before {
          background-color: var(--color_white);
        }

        &::after {
          background-color: var(--color_white);
          rotate: 0deg;
        }
      }
    }

    .room-name {
      @include g.media(md) {
        .acdn-content {
          grid-template-rows: 1fr auto;
        }
      }
    }

    .room-desp {
      .acdn-content {
        grid-template-rows: 1fr;
      }
    }

    .room-link {
      pointer-events: all;
    }
  }
}
