/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* hero */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.t-hero {
    width           : 100%;
    height          : 100svh;
    color           : var(--color_white);

    // &__logo
    &__logo {
        position: absolute;
        top     : 2.7rem;
        left    : 2.7rem;
        width   : 29rem;
    }

    // &__scroll
    &__scroll {
        position       : absolute;
        right          : 0;
        bottom         : 3rem;
        width          : 8rem;
        display        : flex;
        justify-content: center;

        p {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            row-gap       : 1.2rem;

            .label {
                display       : block;
                font-size     : 1.4rem;
                writing-mode  : vertical-lr;
                white-space   : nowrap;
                letter-spacing: 0.01em;
            }

            .circle {
                display         : block;
                width           : 1.8rem;
                height          : 1.8rem;
                border-radius   : 50%;
                background-color: rgba(246, 202, 70, 0.6);
                position        : relative;
                z-index         : 1;

                &::before {
                    content         : "";
                    width           : 100%;
                    height          : 100%;
                    background-color: var(--color_white);
                    border-radius   : 50%;
                    position        : absolute;
                    inset           : 0;
                    margin          : auto;
                    z-index         : 1;
                    scale           : 0.2;
                    animation       : scroll_anim 1.5s var(--customEasingOut) infinite;

                    @keyframes scroll_anim {
                        0% {
                            scale  : 0.2;
                            opacity: 1;
                        }

                        50% {
                            scale  : 1;
                            opacity: 1;
                        }

                        75% {
                            scale  : 1;
                            opacity: 0;
                        }

                        100% {
                            scale  : 0.2;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    // &__copy
    &__copy {
        position     : absolute;
        left         : 0;
        right        : 0;
        bottom       : 2.7rem;
        margin-inline: auto;

        p {
            font-size     : 1.3rem;
            line-height   : 1;
            letter-spacing: 0.03em;
            text-align    : center;

            a {
                color: currentColor;
            }
        }
    }
}

// sp
@include g.media(md) {
    .t-hero {

        // &__logo
        &__logo {}

        // &__scroll
        &__scroll {}

        // &__copy
        &__copy {
            p {
                font-size: 1.2rem;
            }
        }
    }
}