/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* kidsClubs */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.t-kids-clubs {
  padding-top     : max(39rem, calc(100vw / (1300 / 390)));
  background-color: var(--color_white);
  overflow        : hidden;

  .container {
    width           : calc(100% - 100px);
    max-width       : 120rem;
    margin-inline   : auto;
    background-color: var(--theme_color_bg_sub);
    padding         : max(18.8rem, calc(100vw / (1300 / 188))) 0 12.2rem;
    position        : relative;
  }

  // &__circle-slider
  &__circle-slider {
    position     : absolute;
    width        : 100vw;
    top          : min(-20rem, calc(-100vw / (1300 / 200)));
    left         : calc(50% - 50cqw);
    right        : 0;
    margin-inline: auto;

    .circle-slide-list {
      display              : grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap           : 0.1rem;
      width                : 100%;
    }

    .circle-slide-item {
      position  : relative;
      transition: translate 0.45s cubic-bezier(0.55, -0.21, 0.34, 0.77);

      &:nth-child(1) {
        translate : calc(100% * var(--val, 0.8));
        z-index: 1;
      }

      &:nth-child(2) {
        z-index: 2;
      }

      &:nth-child(3) {
        translate : calc(-100% * var(--val, 0.8));
        z-index: 1;
      }


      img {
        display   : block;
        width     : 100%;
        height    : 100%;
        object-fit: cover;
      }
    }
  }

  // &__head
  &__head {
    text-align: center;

    p {
      font-size     : 4.3rem;
      letter-spacing: 0.03em;
      line-height   : calc(28 / 43);
      color         : var(--theme_color_main);
    }

    h2 {
      font-size     : 1.6rem;
      letter-spacing: 0.03em;
      line-height   : calc(12 / 16);
      color         : var(--theme_color_sub);
      margin-top    : 2rem;
    }
  }

  // &__text
  &__text {
    margin-top: 5rem;
    text-align: center;

    h3 {
      font-size     : 2rem;
      letter-spacing: 0.03em;
      line-height   : calc(34 / 20);
      @include g.leadingTrim(calc(34 / 20));
    }

    p {
      font-size     : 1.5rem;
      letter-spacing: 0.03em;
      line-height   : calc(29 / 15);
      @include g.leadingTrim(calc(29 / 15));
      margin-top: 4rem;
    }

    .button {
      margin-top: 4rem;
    }
  }

  .gallery-slider {
    display: none;
  }
}

// sp
@include g.media(md) {
  .t-kids-clubs {
    padding-top: 24rem;

    .container {
      width    : calc(100% - 30px);
      max-width: inherit;
      padding  : 14rem 0 6rem;
    }

    // &__head
    &__head {
      p {
        font-size  : 3.4rem;
        line-height: calc(22 / 34);
      }

      h2 {
        font-size  : 1.4rem;
        line-height: calc(10 / 14);
        margin-top : 1.6rem;
      }
    }

    // &__circle-slider
    &__circle-slider {
      display: none;
    }

    // &__text
    &__text {
      margin-top: 4.2rem;

      h3 {
        font-size  : 1.7rem;
        line-height: calc(28 / 17);
        @include g.leadingTrim(calc(28 / 17));
      }

      p {
        font-size  : 1.4rem;
        line-height: calc(26 / 14);
        @include g.leadingTrim(calc(26 / 14));
        margin-top: 3rem;
      }
    }

    .gallery-slider {
      display   : flex;
      position  : absolute;
      width     : 100vw;
      height    : 23.3rem;
      top       : -16rem;
      left      : calc(50% - 50cqw);
      column-gap: 0.1rem;

      &-list {
        column-gap: 0.1rem;
      }
    }
  }
}