/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* themedAreas */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.t-themed-areas {
    .container {
        padding-top: 15rem;
    }

    // &__head
    &__head {
        width                : calc(100% - 30px);
        max-width            : 106rem;
        margin-inline        : auto;
        display              : grid;
        align-items          : center;
        grid-template-columns: auto 1fr auto 1fr auto;

        .headline {
            width     : 29.4rem;
            text-align: center;

            p {
                font-size     : 3.3rem;
                line-height   : 2.2rem;
                letter-spacing: 0.03em;

                .num {
                    display       : block;
                    font-size     : 11.2rem;
                    line-height   : 7.4rem;
                    letter-spacing: 0.03em;
                    text-align    : center;
                    margin-bottom : 1.9rem;
                }
            }

            h2 {
                font-size     : 1.7rem;
                color         : var(--color_gold);
                letter-spacing: 0.03em;
                line-height   : calc(31/17);
                @include g.leadingTrim(calc(31/17));
                margin-top: 2.2rem;
            }
        }

        .bar {
            flex-shrink     : 0;
            height          : 1px;
            background-color: var(--theme_color_border);

            &.is-left {
                transform-origin: right;
            }

            &.is-right {
                transform-origin: left;
            }
        }

        .onm {
            display    : block;
            width      : 3rem;
            height     : 3rem;
            flex-shrink: 0;

            &.is-left {
                scale: -1 1;
            }
        }
    }

    // &__detail
    &__detail {
        width     : calc(100% - 30px);
        max-width : 106rem;
        margin    : 9rem auto 11rem;
        text-align: center;

        h3 {
            font-size     : 2rem;
            letter-spacing: 0.03em;
            line-height   : calc(35/20);
            @include g.leadingTrim(calc(35/20));
        }

        p {
            font-size     : 1.5rem;
            letter-spacing: 0.03em;
            line-height   : calc(27/15);
            @include g.leadingTrim(calc(27/15));
            margin-top: 4rem;
        }
    }
}

// sp
@include g.media(md) {
    .t-themed-areas {
        .container {}

        // &__head
        &__head {
            .headline {
                width    : 19rem;
                max-width: inherit;

                p {
                    font-size  : 2.6rem;
                    line-height: 1.7rem;

                    .num {
                        font-size  : 8.5rem;
                        line-height: 5.6rem;
                    }
                }

                h2 {
                    font-size  : 1.4rem;
                    line-height: 1rem;
                }
            }

            .onm {
                width : 2.3rem;
                height: 2.3rem;
            }
        }

        // &__detail
        &__detail {
            max-width: inherit;
            margin   : 5rem auto 6rem;

            h3 {
                font-size  : 1.7rem;
                line-height: calc(28/17);
                @include g.leadingTrim(calc(28/17));
            }

            p {
                font-size  : 1.4rem;
                line-height: calc(26/14);
                @include g.leadingTrim(calc(26/14));
                margin-top: 3rem;
            }
        }
    }
}