/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* archive */

/* 目次 */
/* __10: 共通設定 */
/* __20: post-special-feature */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __20: post-special-feature */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.post-special-feature {

    .post {
        &-list {}

        &-item {}

        &-link {
            display        : block;
            text-decoration: none;
        }

        &-content {
            display    : flex;
            align-items: center;
        }
    }

    .thumbnail {
        img {
            display   : block;
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    .meta {
        display    : flex;
        flex-wrap  : wrap;
        align-items: center;
        column-gap : 1.2rem;

        .title {
            width: 100%;
        }

        .date {
            font-size     : 1.4rem;
            letter-spacing: 0.03em;
        }

        .cats {
            display   : flex;
            flex-wrap : wrap;
            column-gap: 1.2rem;

            .cat {
                display        : flex;
                align-items    : center;
                justify-content: center;
                font-size      : 1.2rem;
                border-width   : 1px;
                border-style   : solid;
                border-radius  : 0.2rem;
                padding-inline : 0.45rem;
            }
        }
    }
}

// sp
@include g.media(md) {
    .post-special-feature {

        .post {
            &-list {}

            &-item {}

            &-link {}

            &-content {}
        }

        .meta {
            .date {}

            .cats {

                .cat {}
            }
        }
    }
}