/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* button */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.button {
    &-el {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        width          : fit-content;
        min-width      : 20.5rem;
        height         : 5.8rem;
        border-radius  : 0.7rem;
        padding-left   : 2.2rem;
        padding-right  : 1.8rem;
        text-decoration: none;
        transition     : background-color var(--t-out);

        .label {
            font-size  : 1.8rem;
            line-height: calc(26/18);
            @include g.leadingTrim(calc(26/18));
            transition: color var(--t-out);
        }

        @include g.buttonHover();
    }

    // 中央揃え
    &[data-align="center"] {
        .button-el {
            margin-inline: auto;
        }
    }

    // 右寄せ
    &[data-align="right"] {
        .button-el {
            margin-left: auto;
        }
    }

    // 青ベタ、白文字
    [data-type="primary"] {
        background-color: var(--theme_color_main);

        .label {
            color: var(--color_white);
        }

        @include g.buttonHover();
    }

    // 白ベタ、青文字
    [data-type="secondary"] {
        background-color: var(--color_white);

        .label {
            color: var(--theme_color_main);
        }

        @include g.buttonHover();
    }

    // 金ベタ、白文字
    [data-type="tertiary"] {
        background-color: var(--color_white);

        .label {
            color: #866B0E;
        }

        @include g.buttonHover();
    }

    // 白ベタ, 黒文字
    [data-type="quaternary"] {
        background-color: var(--color_white);

        .label {
            color: var(--theme_color_text);
        }

        @include g.buttonHover();
    }

    // 左右反転
    &[data-reverse="true"] {
        .button-el {
            flex-direction: row-reverse;

            .arrow {
                scale: -1 1;
            }
        }
    }
}

// sp
@include g.media(md) {

    .button {
        &-el {
            min-width     : 15.5rem;
            height        : 4.8rem;
            border-radius : 0.5rem;
            padding-inline: 1.5rem;

            .label {
                font-size  : 1.4rem;
                line-height: calc(29/19);
                @include g.leadingTrim(calc(29/19));

                &[lang="en"] {
                    font-size  : 1.7rem;
                    line-height: calc(26/17);
                    @include g.leadingTrim(calc(26/17));
                }
            }

            .arrow {}
        }
    }
}