/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* drawerButton */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.drawerButton {
    position     : fixed;
    right        : 0;
    top          : 0;
    z-index      : 99;
    width        : 8rem;
    height       : 9.8rem;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.4);

    &-inner {
        width         : 100%;
        height        : 100%;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        padding-top   : 1.7rem;
        row-gap       : 0.7rem;
    }

    .icon {
        display: block;
        width  : 4.2rem;
        height : 4.2rem;

        .i-menu {
            display: block;
            width  : 100%;
            height : 100%;
        }
    }

    .text {
        font-size          : 1.3rem;
        font-weight        : 700;
        letter-spacing     : 0.03em;
        line-height        : 1;
        color              : var(--color_white);
        display            : grid;
        grid-template-areas: "text";
        overflow           : hidden;

        &-open {
            grid-area: text;
        }

        &-close {
            grid-area: text;
            translate: 0 100%;
        }
    }
}


// sp
@include g.media(md) {
    .drawerButton {

        &-inner {}

        .icon {

            .i-menu {}
        }

        .text {
            font-size: 1.2rem;

            &-open {}

            &-close {}
        }
    }
}