/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* container */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.l-has-aside-container {
    display              : grid;
    grid-template-areas  : "main aside";
    grid-template-columns: 1fr auto;
    column-gap           : 6rem;

    main {
        grid-area: main;
    }

    aside {
        grid-area: aside;
    }
}

// sp
@include g.media(md) {
    .l-has-aside-container {
        grid-template-areas:
            "aside"
            "main";
        grid-template-columns: 100%;
        row-gap              : 5.6rem;
    }
}