/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* header */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.header {
    width   : 100%;
    position: fixed;
    top     : 1.3rem;
    left    : 1.3rem;
    z-index : 88;
}

.h-logo {
    width    : 24.8rem;
    height   : 3rem;
    translate: 0 calc(-100% + -1.3rem);

    a {
        display: block;
    }

    svg {
        display: block;
        width  : 100%;
        height : 1000%;
    }
}

// sp
@include g.media(md) {
    .header {
        top : 1rem;
        left: 0.8rem;
    }

    .h-logo {
        translate: 0 0;

        svg {
            color: white;
        }
    }
}