/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

/* icon */

/* 目次 */
/* __10: 共通設定 */

/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
@use "@/assets/styles/_mixin"as g;

/* __10: 共通設定 */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
.arrow {
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-radius  : 100vmax;
    width          : 3.1rem;
    height         : 1.8rem;

    .i-arw-r {
        display     : block;
        width       : 0.9rem;
        aspect-ratio: 1;
    }

    // 背景色
    &[data-bg="blue"] {
        background-color: #174395;
    }

    &[data-bg="white"] {
        background-color: var(--color_white);
    }

    &[data-bg="gold"] {
        background-color: #AF9438;
    }

    &[data-bg="gray"] {
        background-color: var(--theme_color_text);
    }

    // 矢印の色
    &[data-color="blue"] {
        color: #174395;
    }

    &[data-color="white"] {
        color: var(--color_white);
    }

    &[data-color="gold"] {
        color: #866B0E;
    }

    &[data-color="gray"] {
        color: var(--theme_color_text);
    }
}

// sp
@include g.media(md) {
    .arrow {
        width : 2.7rem;
        height: 1.6rem;

        .i-arw-r {
            width: 0.8rem;
        }
    }
}